// text color
$main-text-color: #2c3e50;
$button-again-text-color: #104ca5;
$button-start-text-color: #1a62cb;
$counter-text-color: #2d7aeb;
$description-text-color: #fff;
$pop-up-great-text-color: #1a62cb;
$pop-up-over-text-color: #000;
$turn-you-screen-text-color: #fff;

// icon color
$main-icon-color: #000;

// background
$button-start-background-color: #ddf2ff;
$button-start-border-color: #7ec9f6;
$pop-up-over-background-color: #ddf2ff;
$pop-up-over-border-color: #7ec9f6;
$turn-you-screen-background-color: #0f3166;

// shadow and gradient color
$counter-shadow-light-color: #7ec9f6;
$counter-shadow-dark-color: #233d73;
$pop-up-great-gradient-light-color: #fff;
$pop-up-great-gradient-dark-color: rgba(255 255 255 / 0%);
